.contact {
  margin-top: 50px;
  h2 {
    text-align: center;
    padding: 10px;
  }
  .contact__container {
    .contact__left {
      display: none;
      //margin: 50px;
      width: 50%;
      text-align: right;
      .contact__logo {
        margin-bottom: 50px;
        img {
          width: 50%;
        }
      }
      .contact__complement {
        margin-bottom: 50px;
        img {
          width: 80%;
        }
      }
    }
  }
}

.contact {
  .contact__container {
    margin: 0 auto;
    //width: 80%;

    //display: flex;
    .contact__right {
      margin: 40px;
      width: 50%;
      .contact__information {
        h4 {
          font-size: 20px;
          margin-bottom: 20px;
          .fas {
            margin-right: 20px;
          }
        }
        p {
          font-size: 15px;
          margin-bottom: 10px;
          //margin-left: 50px;
        }
      }
    }
  }
}

@media (min-width: 634px) {
  .contact {
    .contact__container {
      display: flex;
      .contact__left {
        display: block;
        .contact__logo {
          margin-bottom: 50px;
          .img__contact {
            width: 50%;
          }
        }
      }
      .contact__right {
        margin-top: 0;
        margin-left: 40px;
        width: 50%;
        .contact__information {
          h4 {
            font-size: 20px;
            margin-bottom: 20px;
            .fas {
              margin-right: 20px;
            }
          }
          p {
            font-size: 15px;
            margin-bottom: 10px;
            //margin-left: 50px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .contact {
    .contact__container {
      .contact__right {
        .contact__information {
          h4 {
            font-size: 40px;
            margin-top: 20px;
            .fas {
              margin-right: 20px;
            }
          }
          p {
            font-size: 20px;

            //margin-left: 50px;
          }
        }
      }
    }
  }
}
