.cover {
  width: 100%;
  position: relative;
  .cover__presentation {
    display: flex;
    justify-content: space-around;

    position: absolute;
    left: 100px;
    top: 200px;
    .cover__bottom {
      color: rgb(255, 255, 255);
      line-height: 79px;
      font-size: 50px;
      white-space: normal;

      h6 {
        letter-spacing: 3px;
        color: rgb(255, 255, 255);
        margin-bottom: 20px;
        font-size: 50px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      h1 {
        font-size: 200px;
        line-height: 150px;
      }
    }
    .cover__logo {
      padding: 50px 90px 0 0;
      text-align: right;
      .cover__img {
        width: 70%;
      }
    }
  }
  .cover__day {
    position: absolute;
    bottom: 20px;
    left: 100px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .cover__imagen {
    background: linear-gradient(
        rgba(108, 111, 116, 0.75),
        rgba(135, 137, 141, 0.418)
      ),
      url("../img/fondo.jpeg") no-repeat center center fixed;
    background-size: cover;

    width: 100%;
    height: 800px;
  }
}
