* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  .container {
    max-width: 2500px;
    margin: 0 auto;
    padding: 0;
    font-family: "cairo";
  }
}

.btn {
  background-color: rgb(2, 103, 53);
}
