header {
  background-color: #fffeff;
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    .header__logo {
      .header__img {
        height: 100px;
        width: auto !important;
      }
    }

    .header__nav-menu {
      .header__enlace-menu {
        text-decoration: none;
        padding: 0 21px;
        color: rgb(88, 29, 90);
      }
      .btn_menu {
        padding: 10px 15px;
        line-height: 19px;
      }
    }
  }
}
