//MENU HAMBURGUESA  DESPLEGABLE CUANDO APARECE Y DESAPARECE
.menu__hamburger {
  display: table;
  width: 98%;
  margin: auto;
  label {
    float: right;
    font-size: 30px;
    margin: 0 16px;
    cursor: pointer;
  }

  .menu__dropdown {
    padding-top: 50px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 80vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
    .items {
      display: block;
      color: #fff;
      height: 50px;
      text-decoration: none;
      padding: 15px;
      font-size: 25px;
    }
  }
  .items:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

//----------MENU- HAMBURGESA EL DIBUJO---------------------------------

.menu__hamburger {
  #menu-bar:checked ~ .menu__dropdown {
    transform: translateX(0%);
  }
  #menu-bar {
    display: none;
  }
  .hamburger__container {
    #hamburger__wrapper {
      background-color: white;
      display: flex;
      align-items: center;
      width: 50px;
      height: 50px;
      margin: 0;
      padding: 0;
      .burger {
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .burger,
    .burger:before,
    .burger:after {
      padding: 0;
      background-color: #909090;
      width: 80%;
      height: 8px;
      transition: margin 0.1s 0.2s, transform 0.2s;
      border-radius: 10%;
    }

    .burger:before,
    .burger:after {
      margin: 0;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .burger:before {
      margin-top: -12px;
    }

    .burger:after {
      margin-top: 12px;
    }

    //ESTILOS PARA NUESTRA HAMBURGUESA CUANDO SE ABRE EL MENÚ
    .open .burger {
      transform: rotate(45deg);
    }

    .open .burger,
    .open .burger:before,
    .open .burger:after {
      transition: margin 0.2s, transform 0.1s 0.2s;
    }

    .open .burger:before,
    .open .burger:after {
      margin-top: 0;
    }

    .open .burger:after {
      transform: rotate(-90deg);
    }
  }
}

//---------------------- MENU NORMAL---------------------

.menu {
  display: none;
  .menu__container {
    #menu__items {
      color: #909090;
      font-weight: bold;
    }
  }
}

//---------------------

@media (min-width: 320px) {
  .menu__dropdown {
    text-align: center;
  }
}
@media (min-width: 881px) {
  .container__header {
    .menu__hamburger {
      display: none;
    }
    .menu {
      display: block;
      margin: auto 0;
      font-family: "cairo";
      .menu__container {
        margin: 16px 0;
        display: flex;
        font-family: "cairo";
        list-style: none;
        padding: 0;
        li {
          padding-left: 20px;
          padding-top: 10px;
          #menu__items {
            font-family: "Montserrat";
            list-style: none;
            text-decoration: none;
            margin: 0 10px;
          }
          a {
            font-family: "Cairo";
          }
        }
      }
    }
  }
}
